body {
	background-color: darkcyan;
}

#page-navbar {
	width: 100%;
	background-color: darkgreen;
	border-color: yellowgreen;
	border-width: 2px;
	border-style: solid;
}

#page-navbar form {
	display: inline;
}

.nav-link {
	color: aliceblue;
	padding: 0px 5px;
	text-decoration: none;
}

.nav-link:hover {
	color: darkgreen;
	background-color: aliceblue;
}

.nav-button {
	color: aliceblue;
	padding: 0px 5px;
	text-decoration: none;
	background: none;
	border: none;
	font: inherit;
}

.nav-button:hover {
	color: darkgreen;
	background-color: aliceblue;
}

.nav-span {
	color: aliceblue;
	background-color: purple;
}

#main {
	margin: 20px 0 0 0;
}

#post-list {
	margin-top: 10px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

input:invalid {
	border-style: dashed;
	border-color: red;
}

.error {
	background-color: pink;
	width: 240px;
	border-style: solid;
	border-color: red;
	border-width: 1px;
}

.note {
	background-color: lightblue;
	width: 240px;
	border-style: solid;
	border-color: blue;
	border-width: 1px;
}

.comments {
	/* max-width: max(min(80em, 80%), 40%); */
	max-width: 80em;
}

.comment-p {
	width: 100%;
	background-color: violet;
	border-color: purple;
	border-style: solid;
	border-width: 1px;
}

.article-preview a {
	display: flex;
	flex-direction: column;
}

.article-preview a img {
	margin: auto auto;
}
.article-preview a h3 {
	margin: auto auto;
}

.page-list {
	list-style: none;
}

.page-list li {
	display: inline;
	margin: 0 5px;
}
